<h1>Gists</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t('.question') %></th>
      <th><%= t('.email') %></th>
      <th><%= t('.gist') %></th>
    </tr>
  </thead>

  <tbody>
    <%= render @gists %>
  </tbody>
</table>
