<footer class="bottom">
  <div class="container">
    <p>Автор: <a target="_blank" href="http://github.com/alex707">Григоренко Александр</a></p>
    <p>Github проекта: <%= github_url('alex707', 'TestGuru') %></p>

    Проект позволяет проходить простые тесты.
    <a target="_blank" href="http://thinknetica.com">"Учебный проект в онлайн-школе Thinknetica"</a>

    <div class="footer-copyright text-center">
      © <%= current_year %> год.
    </div>
  </div>
</footer>
